force-app/main/default/flows/Notificar_por_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Notificacao</name>
        <label>Enviar Notificação</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>ObterNotificacao.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NomeRegistro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CorpodaNotificacao</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Atruibuit_Id</name>
        <label>Atruibuit Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObterNotificacao</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CorpodaNotificacao</name>
        <dataType>String</dataType>
        <expression>&apos;Olá: &apos; &amp; {!$Record.Owner:User.FirstName} &amp; &apos; Parabéns! O Lead &apos; &amp; {!$Record.FirstName + &apos; &apos; + $Record.LastName} &amp; &apos; foi convertido com sucesso. Seguem abaixo os dados do lead:&apos; &amp; &apos;\n&apos; &amp; 
&apos;Nome do Lead: &apos; &amp; {!$Record.FirstName + &apos; &apos; + $Record.LastName} &amp; &apos;\n&apos; &amp; 
&apos;E-mail: &apos; &amp; {!$Record.Email} &amp; &apos;\n&apos; &amp; 
&apos;Telefone: &apos; &amp; {!$Record.MobilePhone} &amp; &apos;\n&apos; &amp; 
&apos;Empreendimento de Interesse: &apos; &amp; {!$Record.EmpreendimentoInteresse__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NomeRegistro</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName + &apos; &apos; + $Record.LastName}</expression>
    </formulas>
    <interviewLabel>Notificar por Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificar por Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObterNotificacao</name>
        <label>Obter Notificação</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enviar_Notificacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NotificacaoPersonalizada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atruibuit_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
