force-app/main/default/flows/PreenchimentoCamposCorretor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Buscar_Corretores_por_Apelido_Foneticamente</name>
        <label>Buscar Corretores por Apelido Foneticamente</label>
        <locationX>998</locationX>
        <locationY>1106</locationY>
        <actionName>BuscaFoneticaFlowCorretores</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidacaoApelido</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>palavra</name>
            <value>
                <elementReference>ApelidoDoCorretor</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuscaFoneticaFlowCorretores</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>existeApelidoFonetico</assignToReference>
            <name>encontrou</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BuscarEndereco</name>
        <label>Buscar Endereço</label>
        <locationX>1733</locationX>
        <locationY>2336</locationY>
        <actionName>EnderecoService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>tirarErroCep</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>cepInformado</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EnderecoService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>BairroApi</assignToReference>
            <name>bairro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CepApi</assignToReference>
            <name>cep</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CidadeApi</assignToReference>
            <name>cidade</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ComplementoApi</assignToReference>
            <name>complemento</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>LogradouroApi</assignToReference>
            <name>logradouro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PaisApi</assignToReference>
            <name>pais</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>UfApi</assignToReference>
            <name>uf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>teste</name>
        <label>teste</label>
        <locationX>2690</locationX>
        <locationY>3416</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Registrar_Campos_do_Corretor</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ValidacaoCpfAPex</name>
        <label>Validação do CPF pelo Apex</label>
        <locationX>656</locationX>
        <locationY>566</locationY>
        <actionName>ValidarCPF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CpfValido</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cpfs</name>
            <value>
                <elementReference>CpfDoCorretor</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidarCPF</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>resultadoCpf</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Atribui_o_7</name>
        <label>Atribuição 7</label>
        <locationX>1634</locationX>
        <locationY>3092</locationY>
        <assignmentItems>
            <assignToReference>exibirErroCelular</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Step_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoApelido</name>
        <label>Atribuição do Apelido</label>
        <locationX>998</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ApelidoDoCorretor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApelidoCorretor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getApelido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuicaoCpf</name>
        <label>Atribuição do CPF</label>
        <locationX>353</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CpfDoCorretor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CpfCorretor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exibirError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exibirAviso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCpfCorretor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_erro_creci</name>
        <label>Atribuir erro creci</label>
        <locationX>1375</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>erroCreci</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DadosCorretor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C_pia_2_de_Atribuir_erro_creci</name>
        <label>Cópia 2 de Atribuir erro creci</label>
        <locationX>1419</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>erroCreci</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verificar_CRECI_Definitivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>exibir_erro</name>
        <label>exibir erro</label>
        <locationX>2426</locationX>
        <locationY>3308</locationY>
        <assignmentItems>
            <assignToReference>exibirErroEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Step_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exibir_erro_celular_adicional</name>
        <label>Exibir erro celular adicional</label>
        <locationX>2162</locationX>
        <locationY>3092</locationY>
        <assignmentItems>
            <assignToReference>exibirErroCelular</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Step_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>exibir_erro_data_vencimento</name>
        <label>exibir erro data vencimento</label>
        <locationX>1106</locationX>
        <locationY>2120</locationY>
        <assignmentItems>
            <assignToReference>exibirErroDataVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DadosCorretor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exibir_erro_telefone</name>
        <label>Exibir erro telefone</label>
        <locationX>1898</locationX>
        <locationY>3092</locationY>
        <assignmentItems>
            <assignToReference>exibirErroTelefone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Step_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>exibirErro</name>
        <label>exibirErro</label>
        <locationX>1370</locationX>
        <locationY>2660</locationY>
        <assignmentItems>
            <assignToReference>exibirErroCep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Via_Cep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mudar_exibi_o_aviso</name>
        <label>mudar exibição erro</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>exibirError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CadastrarCpf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mudarExibicao</name>
        <label>mudar exibição aviso</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>exibirAviso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CadastrarCpf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tirar_erro</name>
        <label>tirar erro</label>
        <locationX>2096</locationX>
        <locationY>2876</locationY>
        <assignmentItems>
            <assignToReference>exibirErroCelular</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exibirErroEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>exibirErroTelefone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validacao_Celular</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tirar_erro_data</name>
        <label>tirar erro data vencimento</label>
        <locationX>1419</locationX>
        <locationY>1904</locationY>
        <assignmentItems>
            <assignToReference>exibirErroDataVencimento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pesquisaConta.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valida_o_da_data_vencimento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tirarErroCep</name>
        <label>tirarErroCep</label>
        <locationX>1733</locationX>
        <locationY>2444</locationY>
        <assignmentItems>
            <assignToReference>exibirErroCep</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>valida_o_de_cep</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OpcoesCorretor</name>
        <choiceText>{!TipoCorretor}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TipoDeCorretor</elementReference>
        </value>
    </choices>
    <choices>
        <name>OpcoesCreci</name>
        <choiceText>Definitivo&lt;p&gt;Estagiário&lt;/p&gt;&lt;p&gt;Iniciante&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>podeExibir</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>CpfValido</name>
        <label>CPF é válido?</label>
        <locationX>656</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CadastrarApelido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPF é válido</defaultConnectorLabel>
        <rules>
            <name>CPFInvalido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>resultadoCpf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mudar_exibi_o_aviso</targetReference>
            </connector>
            <label>CPF é inválido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_o_da_data_vencimento</name>
        <label>Validação da data vencimento</label>
        <locationX>1419</locationX>
        <locationY>2012</locationY>
        <defaultConnector>
            <targetReference>DadosPessoaisBancarios</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Data_vencimento_vazia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoCRECI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estagiário</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataVencimentoCreci</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exibir_erro_data_vencimento</targetReference>
            </connector>
            <label>Data vencimento vazia</label>
        </rules>
    </decisions>
    <decisions>
        <name>valida_o_de_cep</name>
        <label>validação de cep</label>
        <locationX>1733</locationX>
        <locationY>2552</locationY>
        <defaultConnector>
            <targetReference>DadosResidenciaisProfissionaisContato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>cep_inv_lido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LogradouroApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BairroApi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exibirErro</targetReference>
            </connector>
            <label>cep inválido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valida_o_de_email_duplicado</name>
        <label>Validação de email duplicado</label>
        <locationX>2558</locationX>
        <locationY>3200</locationY>
        <defaultConnector>
            <targetReference>Registrar_Campos_do_Corretor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>email_duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailCorretores</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exibir_erro</targetReference>
            </connector>
            <label>email duplicado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validacao_Celular</name>
        <label>Validação Celular</label>
        <locationX>2096</locationX>
        <locationY>2984</locationY>
        <defaultConnector>
            <targetReference>buscarEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Celular_invalido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaCelular</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_o_7</targetReference>
            </connector>
            <label>Celular invalido</label>
        </rules>
        <rules>
            <name>Validatelefone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssistantPhone.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaTelefone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exibir_erro_telefone</targetReference>
            </connector>
            <label>Validação telefone</label>
        </rules>
        <rules>
            <name>Validar_o_Celular_adicional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CelularAdicional.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaCelularAdicional</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exibir_erro_celular_adicional</targetReference>
            </connector>
            <label>Validarção Celular adicional</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacaoApelido</name>
        <label>Validação Apelido</label>
        <locationX>998</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>DadosCorretor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Apelido não existe no sistema</defaultConnectorLabel>
        <rules>
            <name>ApelidoExistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APELIDOCorretores</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CadastrarApelido</targetReference>
            </connector>
            <label>Apelido existente no sistema</label>
        </rules>
        <rules>
            <name>Existe_Apelido_fonetico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existeApelidoFonetico</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CadastrarApelido</targetReference>
            </connector>
            <label>Existe Apelido fonetico</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidacaoCpf</name>
        <label>ValidacaoCpf</label>
        <locationX>353</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ValidacaoCpfAPex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPF não existe no sistema</defaultConnectorLabel>
        <rules>
            <name>CpfExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPFCorretores</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mudarExibicao</targetReference>
            </connector>
            <label>CPF existe no sistema</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_CRECI_Definitivo</name>
        <label>Verificar CRECI Definitivo</label>
        <locationX>1419</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>tirar_erro_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Definitivo</defaultConnectorLabel>
        <rules>
            <name>Preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoCRECI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Definitivo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRECI</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tirar_erro_data</targetReference>
            </connector>
            <label>Preenchido</label>
        </rules>
        <rules>
            <name>N_o_Preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TipoCRECI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Definitivo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CRECI</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribuir_erro_creci</targetReference>
            </connector>
            <label>Não Preenchido</label>
        </rules>
    </decisions>
    <description>Versão com a pesquisa fonetica e o campo reporta-se a</description>
    <dynamicChoiceSets>
        <name>HorarioContato</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferenciadeHorariodeContato__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoBanco</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Banco__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoContato</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferenciadeContato__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoCorretor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCorretor__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoCreci</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoCRECI__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoEstadoCivil</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EstadoCivil__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoGenero</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Genero__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcaoProfissao</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Profissao__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>opcaoStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StatusCorretor__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FormulaAdmissaoDemissao</name>
        <dataType>Boolean</dataType>
        <expression>{!DataDemissao} &gt; {!DataAdmissao}</expression>
    </formulas>
    <formulas>
        <name>formulaCelular</name>
        <dataType>Boolean</dataType>
        <expression>NOT( REGEX( {!MobilePhone.value}, &quot;[0-9]{11}&quot;))</expression>
    </formulas>
    <formulas>
        <name>formulaCelularAdicional</name>
        <dataType>Boolean</dataType>
        <expression>
NOT( REGEX( {!CelularAdicional.value}, &quot;[0-9]{11}&quot;))</expression>
    </formulas>
    <formulas>
        <name>formulacep</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!cepInformado} ) = 8</expression>
    </formulas>
    <formulas>
        <name>formulaCPF</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!CpfCorretor}) = 11</expression>
    </formulas>
    <formulas>
        <name>formulaCreci</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!CRECI}) = 6</expression>
    </formulas>
    <formulas>
        <name>FormulaDataCasamentoDataNascimento</name>
        <dataType>Boolean</dataType>
        <expression>{!DataCasamento} &gt; {!DataNascimento}</expression>
    </formulas>
    <formulas>
        <name>FormulaDataEmissaoDataNascimento</name>
        <dataType>Boolean</dataType>
        <expression>{!DataEmissao}  &gt; {!DataNascimento}</expression>
    </formulas>
    <formulas>
        <name>FormulaDataReadmissaoDataDemissao</name>
        <dataType>Boolean</dataType>
        <expression>{!DataReadmissao} &gt; {!DataDemissao}</expression>
    </formulas>
    <formulas>
        <name>FormulaDataSaidaDataEntrada</name>
        <dataType>Boolean</dataType>
        <expression>{!DataSaidaOnline} &gt; {!DataEntradaOnline}</expression>
    </formulas>
    <formulas>
        <name>formulaDataVencimentoInscricao</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(
ISBLANK({!DataInscricaoCreci})),  
{!DataVencimentoCreci} &gt; {!DataInscricaoCreci}
)</expression>
    </formulas>
    <formulas>
        <name>FormulaRenda</name>
        <dataType>Boolean</dataType>
        <expression>{!Renda} &gt;= 0.00</expression>
    </formulas>
    <formulas>
        <name>formulaTelefone</name>
        <dataType>Boolean</dataType>
        <expression>NOT(REGEX({!AssistantPhone.value}, &quot;[0-9]{10}&quot;))</expression>
    </formulas>
    <interviewLabel>Preenchimento dos campos do Corretor {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Preenchimento dos campos do Corretor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Registrar_Campos_do_Corretor</name>
        <label>Registrar corretor</label>
        <locationX>2690</locationX>
        <locationY>3308</locationY>
        <connector>
            <targetReference>teste</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>pesquisaConta.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agencia__c</field>
            <value>
                <elementReference>Agencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apelido__c</field>
            <value>
                <elementReference>ApelidoCorretor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BairroComercial__c</field>
            <value>
                <elementReference>BairroComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bairro__c</field>
            <value>
                <elementReference>BairroApi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Banco__c</field>
            <value>
                <elementReference>Banco</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEPComercial__c</field>
            <value>
                <elementReference>CEPComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEP__c</field>
            <value>
                <elementReference>CepApi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPF__c</field>
            <value>
                <elementReference>CpfCorretor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRECI__c</field>
            <value>
                <elementReference>CRECI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CelularAdicional__c</field>
            <value>
                <elementReference>CelularAdicional.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>CidadeApi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComplementoComercial__c</field>
            <value>
                <elementReference>ComplementoComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complemento__c</field>
            <value>
                <elementReference>ComplementoResidencial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conta__c</field>
            <value>
                <elementReference>Conta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataAdmissao__c</field>
            <value>
                <elementReference>DataAdmissao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataDeCasamento__c</field>
            <value>
                <elementReference>DataCasamento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataDeEmissao__c</field>
            <value>
                <elementReference>DataEmissao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataDeNascimento__c</field>
            <value>
                <elementReference>DataNascimento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataDemissao__c</field>
            <value>
                <elementReference>DataDemissao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataEntradaOnline__c</field>
            <value>
                <elementReference>DataEntradaOnline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataReadmissao__c</field>
            <value>
                <elementReference>DataReadmissao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataSaidaOnline__c</field>
            <value>
                <elementReference>DataSaidaOnline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DatadeInscricao__c</field>
            <value>
                <elementReference>DataInscricaoCreci</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DatadeVencimento__c</field>
            <value>
                <elementReference>DataVencimentoCreci</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailAdicional__c</field>
            <value>
                <elementReference>emailAdicional.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmissaoCertidaodeRegularidadeCRECI__c</field>
            <value>
                <elementReference>EmissaoCertidaoRegularidadeCreci</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstadoCivil__c</field>
            <value>
                <elementReference>EstadoCivil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Nome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genero__c</field>
            <value>
                <elementReference>Genero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdentificacaoExterna__c</field>
            <value>
                <elementReference>IdentificacaoExterna</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Sobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocalDeNascimento__c</field>
            <value>
                <elementReference>LocalNascimento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LogradouroComercial__c</field>
            <value>
                <elementReference>Logradouro_Comercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logradouro__c</field>
            <value>
                <elementReference>LogradouroApi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumeroComercial__c</field>
            <value>
                <elementReference>NumeroComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero__c</field>
            <value>
                <elementReference>N_mero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observacoes__c</field>
            <value>
                <elementReference>Observacoes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrgaoEmissor__c</field>
            <value>
                <elementReference>OrgaoEmissor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pais__c</field>
            <value>
                <elementReference>PaisApi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>AssistantPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferenciadeContato__c</field>
            <value>
                <elementReference>PreferneciaContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferenciadeHorariodeContato__c</field>
            <value>
                <elementReference>PreferenciaHorarioContato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profissao__c</field>
            <value>
                <elementReference>Profissao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RG__c</field>
            <value>
                <elementReference>RG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renda__c</field>
            <value>
                <elementReference>Renda</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporta_se_A__c</field>
            <value>
                <elementReference>pesquisaReportaseA.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCorretor__c</field>
            <value>
                <elementReference>StatusCorretor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCRECI__c</field>
            <value>
                <elementReference>TipoCRECI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoCorretor__c</field>
            <value>
                <elementReference>TipoDeCorretor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UFComercial__c</field>
            <value>
                <elementReference>UFComercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UF__c</field>
            <value>
                <elementReference>UfApi</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>buscarEmail</name>
        <label>buscarEmail</label>
        <locationX>2558</locationX>
        <locationY>3092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_o_de_email_duplicado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTipoRegistro</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>EmailAdicional__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailAdicional.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EmailCorretores</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>EmailAdicional__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getApelido</name>
        <label>getApelido</label>
        <locationX>998</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_Corretores_por_Apelido_Foneticamente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTipoRegistro</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apelido__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApelidoDoCorretor</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>APELIDOCorretores</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apelido__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCpfCorretor</name>
        <label>getCpfCorretor</label>
        <locationX>353</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidacaoCpf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdTipoRegistro</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CpfDoCorretor</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>CPFCorretores</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CPF__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CadastrarApelido</name>
        <label>Step 2 - Cadastrar Apelido</label>
        <locationX>998</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>AtribuicaoApelido</targetReference>
        </connector>
        <fields>
            <name>toastWarningApelido</name>
            <extensionName>c:toastWarningApelidoFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getApelido</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ToastErrorApelidoFonetico</name>
            <extensionName>c:toastErrorApelidoFonetico</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Existe_Apelido_fonetico</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtApelido</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot; 
        alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt;Cadastro do Corretor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;CPF liberado para cadastro. Agora, Pesquise pelo o Apelido.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApelidoCorretor</name>
            <dataType>String</dataType>
            <fieldText>Apelido</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Pesquisar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CadastrarCpf</name>
        <label>Step 1 - Cadastrar CPF</label>
        <locationX>353</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AtribuicaoCpf</targetReference>
        </connector>
        <fields>
            <name>ToastErrorCpfFlow</name>
            <extensionName>c:toastErrorCpfFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ToastWarningCpfFlow</name>
            <extensionName>c:toastWarningCpfFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirAviso</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtCadastro</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot;alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt; Cadastro Corre&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif,&apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;tor&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif,&apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Para cadastrar um Corretor, primeiro verifique se o CPF do Corretor já existe no sistema.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CpfCorretor</name>
            <dataType>String</dataType>
            <fieldText>CPF</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;O CPF deve ser informado sem as pontuações.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;CPF informado deve conter 11 digitos.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!formulaCPF}</formulaExpression>
            </validationRule>
        </fields>
        <helpText>&lt;p&gt;Para Cadastrar um Corretor, primeiro verifique se o CPF já existe no sistema &lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Pesquisar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DadosCorretor</name>
        <label>Step 3 - Dados do Corretor</label>
        <locationX>1419</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>C_pia_2_de_Atribuir_erro_creci</targetReference>
        </connector>
        <fields>
            <name>erroDataVencimento</name>
            <extensionName>c:toastErroTipoEstagiario</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirErroDataVencimento</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>toastCRECI</name>
            <extensionName>c:toastWarningCreciDefinitivo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>erroCreci</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtCorretor</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot; 
        alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt;Cadastro do Corretor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Insira os Dados do Corretor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Apelido</name>
            <fieldText>&lt;p&gt;Apelido&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!ApelidoCorretor}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pesquisaReportaseA</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Reporta_se_A__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>reporta-se à:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>repostaseA</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DadosCorretor_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosCorretor_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pesquisaConta</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TipoDeCorretor</name>
                    <choiceReferences>OpcaoCorretor</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TipoDeCorretor</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de corretor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CRECI</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CRECI</elementReference>
                    </defaultValue>
                    <fieldText>CRECI</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;O CRECI deve ter somente 6 números.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!formulaCreci}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>EmissaoCertidaoRegularidadeCreci</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>EmissaoCertidaoRegularidadeCreci</elementReference>
                    </defaultValue>
                    <fieldText>Emissão Certidão de Regularidade CRECI</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataAdmissao</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataAdmissao</elementReference>
                    </defaultValue>
                    <fieldText>Data de Associação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataReadmissao</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataReadmissao</elementReference>
                    </defaultValue>
                    <fieldText>Data de Reassociação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataSaidaOnline</name>
                    <dataType>Date</dataType>
                    <fieldText>Data de saída online</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosCorretor_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusCorretor</name>
                    <choiceReferences>opcaoStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status Corretor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TipoCRECI</name>
                    <choiceReferences>OpcaoCreci</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TipoCRECI</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de CRECI</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DataInscricaoCreci</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataInscricaoCreci</elementReference>
                    </defaultValue>
                    <fieldText>Data de Inscrição CRECI</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataVencimentoCreci</name>
                    <dataType>Date</dataType>
                    <fieldText>Data de Vencimento CRECI</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataDemissao</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataDemissao</elementReference>
                    </defaultValue>
                    <fieldText>Data de Desassociação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataEntradaOnline</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataEntradaOnline</elementReference>
                    </defaultValue>
                    <fieldText>Data de entrada online</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IdentificacaoExterna</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IdentificacaoExterna</elementReference>
                    </defaultValue>
                    <fieldText>Identificação externa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Observacoes</name>
            <defaultValue>
                <stringValue>{!Observacoes}</stringValue>
            </defaultValue>
            <fieldText>Observações</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DadosPessoaisBancarios</name>
        <label>Step 4 - Dados pessoais e bancários</label>
        <locationX>1733</locationX>
        <locationY>2120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Via_Cep</targetReference>
        </connector>
        <fields>
            <name>cadastro2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot; 
        alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt; Cadastro do Corretor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Insira os Dados Pessoais e Bancários.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dados_Pessoais</name>
            <fieldText>Dados Pessoais</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_Pessoais_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>campoCPf</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CPF&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!CpfCorretor}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosPessoaisBancarios_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosPessoaisBancarios_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Nome</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RG</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>RG</elementReference>
                    </defaultValue>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataEmissao</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataEmissao</elementReference>
                    </defaultValue>
                    <fieldText>Data da Emissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A Data da Emissão deve ser maior que a Data de Nascimento.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!FormulaDataEmissaoDataNascimento}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>LocalNascimento</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LocalNascimento</elementReference>
                    </defaultValue>
                    <fieldText>Local de Nascimento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Profissao</name>
                    <choiceReferences>OpcaoProfissao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Profissao</elementReference>
                    </defaultValue>
                    <fieldText>Profissão</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataCasamento</name>
                    <dataType>Date</dataType>
                    <fieldText>Data de Casamento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EstadoCivil</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Solteiro(a)</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>EstadoCivil</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosPessoaisBancarios_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sobrenome</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Sobrenome</elementReference>
                    </defaultValue>
                    <fieldText>Sobrenome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OrgaoEmissor</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>OrgaoEmissor</elementReference>
                    </defaultValue>
                    <fieldText>Órgão Emissor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DataNascimento</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DataNascimento</elementReference>
                    </defaultValue>
                    <fieldText>Data de Nascimento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Genero</name>
                    <choiceReferences>OpcaoGenero</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Genero</elementReference>
                    </defaultValue>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EstadoCivil</name>
                    <choiceReferences>OpcaoEstadoCivil</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>EstadoCivil</elementReference>
                    </defaultValue>
                    <fieldText>Estado Civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Renda</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Renda</elementReference>
                    </defaultValue>
                    <fieldText>Renda</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;A renda deve ser maior que zero.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!FormulaRenda}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosBancarios</name>
            <fieldText>Dados bancários</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosBancarios_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosBancarios_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosPessoaisBancarios_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosPessoaisBancarios_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Banco</name>
                    <choiceReferences>OpcaoBanco</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Banco</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosPessoaisBancarios_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosPessoaisBancarios_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosPessoaisBancarios_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agencia</name>
                    <dataType>String</dataType>
                    <fieldText>Agência</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosPessoaisBancarios_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conta</name>
                    <dataType>String</dataType>
                    <fieldText>Conta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DadosResidenciaisProfissionaisContato</name>
        <label>Step 5 - Dados residenciais, profissionais e contato</label>
        <locationX>2096</locationX>
        <locationY>2660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step_6</targetReference>
        </connector>
        <fields>
            <name>txtCorretor5</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot; 
        alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt; Cadastro do Corretor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Insira os Dados residenciais e profissionais.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DadosResidenciais</name>
            <fieldText>Dados Residenciais</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosResidenciais_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosResidenciaisProfissionaisContato_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosResidenciaisProfissionaisContato_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CepResidencial</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CepApi</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LogradouroResidencial</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LogradouroApi</elementReference>
                    </defaultValue>
                    <fieldText>Logradouro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>N_mero</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ComplementoResidencial</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosResidenciaisProfissionaisContato_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BairroResidencial</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BairroApi</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cidade_Residencial</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CidadeApi</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UFResidencial</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>UfApi</elementReference>
                    </defaultValue>
                    <fieldText>UF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pais_Residencial</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PaisApi</elementReference>
                    </defaultValue>
                    <fieldText>País</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosProfissionais</name>
            <fieldText>Dados profissionais</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosProfissionais_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DadosResidenciaisProfissionaisContato_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DadosResidenciaisProfissionaisContato_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEPComercial</name>
                    <dataType>String</dataType>
                    <fieldText>CEP (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Logradouro_Comercial</name>
                    <dataType>String</dataType>
                    <fieldText>Logradouro (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NumeroComercial</name>
                    <dataType>String</dataType>
                    <fieldText>Número (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ComplementoComercial</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DadosResidenciaisProfissionaisContato_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BairroComercial</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cidade_Comercial</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UFComercial</name>
                    <dataType>String</dataType>
                    <fieldText>UF (Comercial)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Step_6</name>
        <label>Step 6 - Dados de Contato</label>
        <locationX>2096</locationX>
        <locationY>2768</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>tirar_erro</targetReference>
        </connector>
        <fields>
            <name>erroEmail</name>
            <extensionName>c:toastWarningEmailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirErroEmail</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>erroCelular</name>
            <extensionName>c:toastWarningCelularFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirErroCelular</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErroTelefone</name>
            <extensionName>c:toastWarningTelefoneFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirErroTelefone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DadosContato</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot; 
        alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt; &lt;strong&gt;Cadastro do Corretor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Insira os Dados de contato&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dados</name>
            <fieldText>Dados de Contato</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Step_6_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Step_6_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>11999999999</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <elementReference>MobilePhone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PreferenciaHorarioContato</name>
                    <choiceReferences>HorarioContato</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PreferenciaHorarioContato</elementReference>
                    </defaultValue>
                    <fieldText>Preferência de Horário de Contato</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AssistantPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>1125555555</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <elementReference>AssistantPhone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Step_6_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CelularAdicional</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular Adicional</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>11999999999</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <elementReference>CelularAdicional.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>emailAdicional</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail Adicional</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PreferneciaContato</name>
                    <choiceReferences>OpcaoContato</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PreferneciaContato</elementReference>
                    </defaultValue>
                    <fieldText>Preferência de Contato</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Salvar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancelar</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Via_Cep</name>
        <label>Via Cep</label>
        <locationX>1733</locationX>
        <locationY>2228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BuscarEndereco</targetReference>
        </connector>
        <fields>
            <name>errorcep</name>
            <extensionName>c:toatWarningCep</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>exibirErroCep</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtAPi</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;img src=&quot;https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQmko4NTNed4K5pSNsj49NdrSuNTqXNgrbeK413z3rJqExrSU-H&amp;amp;operationContext=CHATTER&quot; 
        alt=&quot;contato.PNG&quot; style=&quot;width: 50px; height: 45px;&quot;&gt; Endereço do corretor.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Informe seu CEP residencial.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cepInformado</name>
            <dataType>String</dataType>
            <fieldText>CEP</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;CEP informado é inválido&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!formulacep}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Pesquisar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CadastrarCpf</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APELIDOCorretores</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ApelidoDoCorretor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BairroApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CepApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CidadeApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ComplementoApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CPFCorretores</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CpfDoCorretor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailCorretores</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>enderecoApi</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>erroCreci</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exibirAviso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exibirErroCelular</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exibirErroCep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExibirErroDataNascimento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exibirErroDataVencimento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exibirErroEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exibirError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>exibirErroTelefone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>existeApelidoFonetico</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IdTipoRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012Ha000000PhxsIAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>LogradouroApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opcaoCreciValidacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Estagiário</stringValue>
        </value>
    </variables>
    <variables>
        <name>PaisApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>repostaseA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultadoCpf</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ValidacaoCpfAPex</elementReference>
        </value>
    </variables>
    <variables>
        <name>TipoCorretor</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UfApi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
